:root {
    font-family: "JetBrains Mono", ui-monospace, monospace;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    color-scheme: light dark;
    color: #EEEEEE;
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "JetBrains Mono", ui-monospace, monospace;
  font-size: 15px;
  line-height: 1.6;
  font-feature-settings: "liga" 0, "calt" 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.ce-paragraph {
  line-height: 1.6;
  margin: 0;
}

.ce-block {
  margin-bottom: 0.25em;
}
.ce-block {
  transition:
    margin 120ms ease-out,
    padding 120ms ease-out;
}
.ce-paragraph {
  caret-color: #B6F500;
}

.ce-toolbar__plus {
    color: #B6F500;
    transition: all .2s ease-in-out;
    background: #272829;
}
.ce-toolbar__settings-btn {
    color: #B6F500;
    transition: all .2s ease-in-out;
    background: #272829;
}
.ce-toolbar__plus:hover, .ce-toolbar__settings-btn:hover{
    color: black;
}
.codex-editor--narrow .ce-toolbar__actions {
    right: 100%;
}

.cdx-marker {
    background: none !important;
    text-decoration: underline;
    text-decoration-color: #B6F500;
    color: white;
    text-decoration-style: wavy;
}
/* Editor typography */
.ce-editor,
.ce-block,
.ce-paragraph {
    width: 100%;
  font-family: "JetBrains Mono", ui-monospace, monospace;
  font-size: 15px;
  line-height: 1.6;
  font-feature-settings: "liga" 0, "calt" 0;
}

.ce-block{
    width: 45vw;
}

.codex-editor--narrow .codex-editor__redactor {
     margin-right: 0px; 
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
